<div class="login">
    <form class="loginForm" [formGroup]="registerForm" (ngSubmit)="eseguiRegistrazione()" ngNativeValidate>
        <button class="btn-registrati" routerLink="/login">×</button>
        <div>
            <img src="../assets/logo.png" alt="logo" class="logo">
            <p class="title">Registrati</p>
            <input id="username" placeholder="username" formControlName="username" class="inputFields">
        </div>
        <div>
            <input id="password" placeholder="password" formControlName="password" class="inputFieldsPassword" type="password" [type]="show ? 'text' : 'password'">
            <img src="../../../assets/icone/eye.png" alt="occhio" class="eye" (click)="password()">
        </div>
        <br><br>
        <button type="submit">
            <span>Registrati</span>
        </button>
    </form>
</div>