<div class="login">
    <form class="loginForm">
        <button class="btn-registrati" [routerLink]="['/signin']" type="button">+</button>
        <div>
            <img src="../../../assets/logo.png " alt="logo " class="logo ">
            <p class="title ">Accedi</p>
            <input id="username " placeholder="username " class="inputFields ">
        </div>
        <div>
            <input id="password " placeholder="password " class="inputFieldsPassword ">
            <img src="../../../assets/icone/eye.png " alt="occhio " class="eye ">
        </div>
        <div>
            <span class="password ">memorizza password</span>
            <label class="switch ">
                <input type="checkbox " formControlName="salva ">
                <span class="slider round "></span>
            </label>
        </div>
        <button type="submit ">
            <span>Accedi</span>
        </button>
    </form>
</div>