.login {
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    height: 100%;
}

.loginForm {
    height: 460px;
    width: 350px;
    background-image: linear-gradient(90deg, rgba(194, 128, 255, 1) 0%, rgba(129, 211, 248, 1) 100%);
    border-radius: 13px;
    box-shadow: -8px -8px #bfbdbd;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.loginForm * {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    text-decoration: none;
    font-size: 23pt;
}

.inputFields {
    //margin: 15px 0;
    font-size: 16px;
    width: 240px;
    height: 23px;
    border: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(226, 225, 225, 0.2);
    outline: none;
    color: white;
    background-image: url('/assets/icone/account-big.png');
    background-repeat: no-repeat;
    text-indent: 34px;
    background-position: 2px;
}

.inputFieldsPassword {
    //margin: 15px 0;
    font-size: 16px;
    width: 240px;
    height: 26px;
    border: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(226, 225, 225, 0.2);
    outline: none;
    color: white;
    background-image: url('../../../assets/icone/lock.png');
    background-repeat: no-repeat;
    text-indent: 34px;
    background-position: 2px;
}

.switch {
    position: relative;
    width: 28px;
    height: 0px;
    float: left;
    margin-left: 45px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(213, 52, 235);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: #cfcfcf;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: white; // rgb(3, 51, 70);
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.password {
    font-size: 10pt;
    margin-right: 40px;
}

.btn-registrati {
    height: 75px;
    width: 75px;
    background-color: rgba(194, 128, 255, 1);
    border: none;
    border-radius: 50px;
    font-size: 50px;
    color: white;
    outline: none;
    position: absolute;
    margin-left: 130px;
    margin-top: 40px;
    cursor: pointer;
}

.btn-registrati:hover {
    background-color: rgb(75, 128, 171);
}

.btn-registrati:active {
    background-color: rgb(58, 107, 148);
    height: 75px;
    width: 75px;
    //margin-top: 30px;
}

.logo {
    height: 120px;
    width: 160px;
    margin-bottom: -60px;
    padding: -60px;
    padding-top: 0px;
}

//bottone accedi
button {
    margin-top: 35px;
    margin-bottom: 25px;
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 50px;
    width: 210px;
    background-color: #ffffff;
    border: 1px solid rgba(22, 76, 167, 0.6);
}

button span {
    color: #164ca7;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

button:hover {
    animation: rotate 0.7s ease-in-out both;
}

button:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

// button:active {
//     width: 214px;
//     height: 52px;
//     margin-top: 3px;
// }
@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}

.eye {
    position: absolute;
    margin-left: -52px;
    margin-top: -5px;
    cursor: pointer;
}