<div class="login">
    <form class="loginForm" [formGroup]="loginForm" (ngSubmit)="eseguiLogin()" ngNativeValidate>
        <button class="btn-registrati" [routerLink]="['/signin']" type="button">+</button>
        <div>
            <img src="../../../assets/logo.png " alt="logo " class="logo ">
            <p class="title ">Accedi</p>
            <input id="username" formControlName="username" placeholder="username " class="inputFields ">
        </div>
        <div>
            <input id="password" formControlName="password" placeholder="password " type="password" class="inputFieldsPassword " [type]="show ? 'text' : 'password'">
            <img src="../../../assets/icone/eye.png " alt="occhio " class="eye " (click)="password()">
        </div>

        <button type="submit ">
            <span>Accedi</span>
        </button>
    </form>
</div>