<div class="header">
    <div class="home" routerLink="/home">
        <img src="../../../assets/icone/home.png" alt="home" class="house">
        <p class="scritta">Home</p>
    </div>
    <div class="over" routerLink="/carrello">
        <p class="cart">Carrello (2)</p>
        <img src="../../../assets/icone/cart.png" alt="carrello" class="carrello">
    </div>
    <p class="title">Personalizza il tuo prodotto</p>
</div>
<div class="background">
    <div class="product">
        <form>
            <img src="{{prodotto.img2}}" class="img">
            <h2>Personalizza il tuo prodotto</h2>
            <h5>Colore prodotto</h5>
            <span class="dot1"></span>
            <span class="dot2"></span>
            <span class="dot3"></span>
            <span class="dot4"></span>
            <span class="dot5"></span>
            <span class="dot6"></span>
            <h5>Testo personalizzato</h5>

            <input type="text" id="testo" name="testo" placeholder="Inserisci testo">

            <h5>Colore bordi</h5>
            <span class="dot1"></span>
            <span class="dot2"></span>
        </form>
        <div class="bottone">
            <a class="myButton">AGGIUNGI AL CARRELLO</a>
        </div>
        <div class="bottone2">
            <a class="myButton2">RIPRISTINA</a>
        </div>
    </div>
</div>