<div class="header">
    <div class="home" routerLink="/home">
        <img src="../../../assets/icone/home.png" alt="home" class="house">
        <p class="scritta">Home</p>
    </div>
    <div class="over" routerLink="/carrello">
        <p class="cart">Carrello</p>
        <img src="../../../assets/icone/cart.png" alt="carrello" class="carrello">
    </div>
    <p class="title">Personalizza il tuo prodotto</p>
</div>
<div class="background">
    <div class="product">
        <form [formGroup]="prodottoForm" (ngSubmit)="aggiungiAlCarrello(this.prodottoForm.value)">
            <img src="{{prodotto.img2}}" class="img">
            <h2>Personalizza il tuo prodotto</h2>
            <h5>Colore prodotto</h5>
            <!--<span class="dot1"></span>
            <span class="dot2"></span>
            <span class="dot3"></span>
            <span class="dot4"></span>
            <span class="dot5"></span>
            <span class="dot6"></span>-->
            <!-- Color -->
            <label class="container">
                <input type="radio" value="bianco" formControlName="colore">
                <span class="color-white"></span>
            </label>

            <label class="container">
                <input type="radio" value="nero" formControlName="colore">
                <span class="color-black"></span>
            </label>

            <label class="container">
                <input type="radio" value="grigio" formControlName="colore">
                <span class="color-light-gray"></span>
            </label>

            <label class="container">
                <input type="radio" value="oro" formControlName="colore">
                <span class="color-gold"></span>
            </label>
            <h5>Testo personalizzato</h5>

            <input type="text" id="testo" name="testo" placeholder="Inserisci testo" formControlName="testo">

            <h5>Colore bordi</h5>
            <!--<span class="dot1"></span>
            <span class="dot2"></span>-->
            <div class="border">
                <label class="container">
                    <input type="radio" value="bianco" formControlName="bordi">
                    <span class="color-white"></span>
                </label>

                <label class="container">
                    <input type="radio" value=nero formControlName="bordi">
                    <span class="color-black"></span>
                </label>

            </div>

            <div class="bottone">
                <button class="myButton" type="submit">AGGIUNGI AL CARRELLO</button>
            </div>
            <div class="bottone2">
                <button class="myButton2" (click)="ripristina()">RIPRISTINA</button>
            </div>
        </form>
    </div>
</div>