<div class="header">
    <div class="home" routerLink="/home">
        <img src="../../../assets/icone/home.png" alt="home" class="house">
        <p class="scritta">Home</p>
    </div>
    <p class="title">Carrello</p>
</div>
<div class="background">
    <div class="product" [ngSwitch]="prosegui">
        <div *ngSwitchCase="0">
            <!--<ng-container *ngFor="let prodotto of prodotti">-->
            <img src="/assets/img/mac2.jpg" class="img">
            <p class="costo">€ 15</p>
            <div class="resoconto">
                <p>Prodotto</p>
                <p>Colore</p>
                <p>Testo</p>
                <p>Colore bordi</p>
            </div>
            <div class="descrizione">
                <!--<p>{{prodotto.nome}}</p>
                <p>{{prodotto.colore}}</p>
                <p>{{prodotto.testo}}</p>
                <p>{{prodotto.bordi}}</p>-->
                <p>aaaaaaa</p>
                <p>aaaaaaa</p>
                <p>aaaaaaa</p>
                <p>aaaaaaa</p>
            </div>
            <div class="bottone2">
                <a class="myButton2">RIMUOVI</a>
            </div>
            <hr>
            <div class="footer">
                <p class="totale">TOTALE</p>
                <p class="prezzo">30€</p>
                <div class="dots">
                    <span class="dot1"></span>
                    <span class="dot2"></span>
                    <span class="dot3"></span>
                </div>
                <div class="bottone3">
                    <a class="myButton3" (click)="next()">PROSEGUI</a>
                </div>
            </div>

        </div>

        <div class="step2" *ngSwitchCase="1">
            <form>
                <div>
                    <label for="nome" class="label">Nome</label>
                    <input type="text" id="nome" class="form">
                </div>
                <div>
                    <label for="nome" class="label">Cognome</label>
                    <input type="text" id="nome" class="form">
                </div>
                <div>
                    <label for="nome" class="label">Cellulare</label>
                    <input type="text" id="nome" class="form">
                </div>
                <div class="inline">
                    <label for="nome" class="label">Citta</label>
                    <input type="text" id="nome" class="form2">
                    <label for="nome" class="label">Cap</label>
                    <input type="text" id="nome" class="form2">
                </div>
                <div>
                    <label for="nome" class="label">Indirizzo</label>
                    <input type="text" id="nome" class="form3">
                    <label for="nome" class="label">N</label>
                    <input type="text" id="nome" class="form4">
                </div>
                <div>
                    <label for="nome" class="label">Informazioni per corriere</label>
                    <input type="text" id="nome" class="form">
                </div>
            </form>
            <hr>
            <div class="footer">
                <div class="bottone4">
                    <a class="myButton4" (click)="back()">INDIETRO</a>
                </div>
                <div class="dots2">
                    <span class="dot2"></span>
                    <span class="dot1"></span>
                    <span class="dot3"></span>
                </div>
                <div class="bottone5">
                    <a class="myButton5" (click)="next()">PROSEGUI</a>
                </div>
            </div>
        </div>

        <div *ngSwitchCase="2">
            <div class="prodotti">
                <div class="resoconto2">
                    <p>Prodotti acquistati</p>
                    <p>Prezzo</p>
                    <p>Spedizione</p>
                    <p>Indirizzo</p>
                    <p>Spedito al sig</p>
                </div>
                <div class="descrizione2">
                    <p>Samsung s10</p>
                    <p>Nero</p>
                    <p>nulla</p>
                    <p>bianchi</p>
                    <p>nulla</p>
                </div>
            </div>
            <form>
                <div>
                    <label for="nome" class="label">Seleziona metodo di pagamento</label>
                    <select name="nome" id="nome" class="form">
                            <option value="carta" class="option">Carta di credito</option>
                        </select>
                </div>
                <div>
                    <label for="nome" class="label">Tipo carta</label>
                    <input type="text" id="nome" class="form">
                </div>
                <div>
                    <label for="nome" class="label">Numero carta</label>
                    <input type="text" id="nome" class="form5">
                    <label for="nome" class="label">CVC</label>
                    <input type="text" id="nome" class="form6">
                </div>
            </form>
            <hr>
            <div class="footer">
                <div class="bottone4">
                    <a class="myButton4" (click)="back()">INDIETRO</a>
                </div>
                <div class="dots2">
                    <span class="dot2"></span>
                    <span class="dot3"></span>
                    <span class="dot1"></span>
                </div>
                <div class="bottone5">
                    <a class="myButton5" routerLink="/home">ACQUISTA</a>
                </div>
            </div>
        </div>
    </div>