<div class="header">
    <div class="home">
        <img src="../../../assets/icone/home.png" alt="home" class="house">
        <p class="scritta">Home</p>
    </div>
    <p class="title">Carrello</p>
</div>
<div class="background">
    <div class="product">
        <img src="../../../assets/img/samsung2.jpg" class="img">
        <p class="costo">€ 15</p>
        <div class="resoconto">
            <p>Prodotto</p>
            <p>Colore</p>
            <p>Testo</p>
            <p>Colore bordi</p>
        </div>
        <div class="descrizione">
            <p>Samsung s10</p>
            <p>Nero</p>
            <p>nulla</p>
            <p>bianchi</p>
        </div>
        <div class="bottone2">
            <a class="myButton2">RIMUOVI</a>
        </div>
    </div>
</div>