    .header {
        height: 70px;
        width: 100%;
        background-image: linear-gradient(90deg, rgba(171, 225, 250, 1), rgba(213, 171, 255, 1) 100%);
    }
    
    .title {
        margin: 0;
        padding: 15px;
        padding-right: 300px;
        color: white;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 24pt;
    }
    
    .house {
        margin: 0;
        position: relative;
        height: 30px;
        width: 30px;
        float: left;
        padding-top: 19px;
        padding-left: 37px;
        cursor: pointer;
    }
    
    .scritta {
        position: relative;
        margin: 0px;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 14pt;
        float: left;
        padding-left: 20px;
        padding-top: 23px;
        text-align: center;
    }
    
    .home {
        height: 70px;
        width: 250px;
        float: left;
        cursor: pointer;
    }
    
    .home:hover {
        background-color: white;
        .scritta {
            color: rgb(213, 171, 255);
        }
    }
    
    .background {
        position: relative;
        margin: 0;
        height: 130px;
        background-image: linear-gradient(90deg, rgba(129, 210, 248, 1), rgba(193, 129, 255, 1) 100%);
    }
    
    .product {
        margin-top: 40px;
        position: absolute;
        width: 680px;
        background-color: white;
        border-style: ridge;
        margin-left: 495px;
        box-shadow: 2px 2px #888888;
        * {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        .container {
            height: 230px;
        }
        .img {
            padding: 20px;
            height: 150px;
            width: 150px;
            float: left;
        }
        .costo {
            float: right;
            color: rgba(193, 129, 255, 1);
            padding-right: 120px;
            padding-top: 10px;
        }
        .resoconto {
            padding-top: 10px;
            text-align: right;
            float: left;
            text-decoration: none;
            color: rgb(199, 200, 201)
        }
        .descrizione {
            padding-top: 10px;
            padding-left: 300px;
        }
        .bottone {
            padding: 15px;
            padding-top: 25px;
            float: right;
            position: relative;
        }
        .myButton {
            background-color: rgb(193, 129, 255);
            border-radius: 3px;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 15px;
            padding: 12px 30px;
        }
        .myButton:hover {
            background-color: rgba(129, 210, 248, 1);
        }
        .myButton:active {
            position: relative;
            top: 1px;
        }
        .bottone2 {
            float: right;
            position: relative;
            padding: 8px;
        }
        .myButton2 {
            background-color: white;
            border: 1px solid rgb(193, 129, 255);
            border-radius: 3px;
            display: inline-block;
            cursor: pointer;
            color: rgb(193, 129, 255);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 15px;
            padding: 10px 65px;
        }
        .myButton2:hover {
            background-color: rgba(129, 210, 248, 1);
        }
        .myButton2:active {
            position: relative;
            top: 1px;
        }
        hr {
            border: 0;
            height: 1px;
            background-image: linear-gradient(to right, lightgray, lightgray, lightgray);
            width: 90%;
        }
        .footer {
            display: flex;
        }
        .totale {
            padding-left: 50px;
        }
        .prezzo {
            margin: 0;
            padding-left: 10px;
            padding-top: 13px;
            color: rgba(193, 129, 255, 1);
            font-size: 15pt;
        }
        .dots {
            padding-left: 140px;
            padding-top: 15px;
        }
        .dot1 {
            margin-right: 10px;
            height: 10px;
            width: 10px;
            background-color: rgba(193, 129, 255, 1);
            border-radius: 50%;
            display: inline-block;
        }
        .dot2 {
            margin-right: 10px;
            height: 10px;
            width: 10px;
            background-color: lightgray;
            border-radius: 50%;
            display: inline-block;
        }
        .dot3 {
            margin-right: 10px;
            height: 10px;
            width: 10px;
            background-color: lightgray;
            border-radius: 50%;
            display: inline-block;
        }
        .bottone3 {
            float: right;
            position: relative;
            padding: 4px;
            padding-left: 135px;
        }
        .myButton3 {
            background-color: rgb(193, 129, 255);
            border: 1px solid rgb(193, 129, 255);
            border-radius: 3px;
            display: inline-block;
            cursor: pointer;
            color: white;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 15px;
            padding: 10px 60px;
        }
        .myButton3:hover {
            background-color: rgba(129, 210, 248, 1);
        }
        .myButton3:active {
            position: relative;
            top: 1px;
        }
        .bottone4 {
            position: relative;
            padding: 8px;
        }
        .myButton4 {
            background-color: white;
            border: 1px solid rgb(193, 129, 255);
            border-radius: 3px;
            display: inline-block;
            cursor: pointer;
            color: rgb(193, 129, 255);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 15px;
            padding: 10px 60px;
        }
        .myButton4:hover {
            background-color: rgba(129, 210, 248, 1);
        }
        .myButton4:active {
            position: relative;
            top: 1px;
        }
        .bottone5 {
            position: relative;
            padding: 8px;
            padding-left: 128px;
        }
        .myButton5 {
            background-color: rgb(193, 129, 255);
            border: 1px solid rgb(193, 129, 255);
            border-radius: 3px;
            display: inline-block;
            cursor: pointer;
            color: white;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 15px;
            padding: 10px 60px;
        }
        .myButton5:hover {
            background-color: rgba(129, 210, 248, 1);
        }
        .myButton5:active {
            position: relative;
            top: 1px;
        }
        .dots2 {
            padding-left: 85px;
            padding-top: 15px;
        }
        .label {
            font-size: 8pt;
            margin-bottom: -30px;
            position: absolute;
            margin-left: 25px;
            color: gray;
        }
        .form {
            width: 94%;
            height: 40px;
            background-color: rgb(242, 242, 242);
            border: none;
            margin-left: 3%;
            margin-bottom: 15px;
            font-size: 14pt;
            text-decoration: none;
            padding-left: 6px;
        }
        .form2 {
            width: 45%;
            height: 40px;
            background-color: rgb(242, 242, 242);
            border: none;
            margin-left: 3%;
            margin-bottom: 15px;
            font-size: 14pt;
            text-decoration: none;
            padding-left: 6px;
        }
        .inline {
            display: inline;
        }
        .form3 {
            width: 80%;
            height: 40px;
            background-color: rgb(242, 242, 242);
            border: none;
            margin-left: 3%;
            margin-bottom: 15px;
            font-size: 14pt;
            text-decoration: none;
            padding-left: 6px;
        }
        .form4 {
            width: 10%;
            height: 40px;
            background-color: rgb(242, 242, 242);
            border: none;
            margin-left: 3%;
            margin-bottom: 15px;
            font-size: 14pt;
            text-decoration: none;
            padding-left: 6px;
        }
        .prodotti {
            margin-left: 150px;
        }
        .resoconto2 {
            padding-top: 10px;
            text-align: right;
            float: left;
            text-decoration: none;
            color: rgb(199, 200, 201)
        }
        .descrizione2 {
            padding-top: 10px;
            padding-left: 160px;
        }
        .form5 {
            width: 70%;
            height: 40px;
            background-color: rgb(242, 242, 242);
            border: none;
            margin-left: 3%;
            margin-bottom: 15px;
            font-size: 14pt;
            text-decoration: none;
            padding-left: 6px;
        }
        .form6 {
            width: 20%;
            height: 40px;
            background-color: rgb(242, 242, 242);
            border: none;
            margin-left: 3%;
            margin-bottom: 15px;
            font-size: 14pt;
            text-decoration: none;
            padding-left: 6px;
        }
        .step2 {
            padding-top: 10px;
        }
    }